doctype html 
html 
    head 
        title=name
    body 
        h1=name
        table(border='1',cellpadding='10',align='center')
            tr
                td name 
                td #{name}
            tr 
                td email 
                td #{email}
            tr 
                td mobile 
                td #{mobile}
            if(website)
                tr 
                    td website 
                    td #{website}