doctype html 
html 
    head 
        title
    body 
        h1 working with object 
        table(border='1',align='center',width='50%')
            tr  
                td name
                td #{player.name}
            tr  
                td born
                td #{player.born}
            tr  
                td birth
                td #{player.birth}
            tr  
                td nationality
                td #{player.nationality}
            tr  
                td height
                td #{player.height}
            tr 
                td weight 
                td #{player.weight}